<title>Thank You!</title>
<body style="background-color: #f8f9fa; text-align: center; justify-content: center; align-items: center; margin: 0; height:100vh">
    <div> 
        <h1 style="color: #03468f; font-size: 3.5rem; margin: 10px 0;">Thank You for contacting us!</h1>
        <h2 style="color: #333; font-size: 2.5rem;">We will be in touch soon.</h2>
    </div>
</body>